body {
  background-image: url("cat_alice.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
  
  .eyes {
    position: absolute;
    top: 33%;
    transform: translateY(-50%,-50%);
    width: 100%;
    text-align: center;
  }
  .eye {
    width: 210px;
    height: 150px;    
    display: inline-block;
    margin: 75px 75px;
    border-radius: 90%;
    position: relative;
    overflow: hidden;
    background-image: radial-gradient( #0a2c2e,#07856e);
    box-shadow: 0 0 20px 10px #031f12;
  }
  .ball {
    width: 30px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 90%;
  }




  /* Styles for screens wider than 1024px */
@media only screen and (min-width: 1025px) {
  .eye {
    width: 210px;
    height: 150px;
    margin: 75px 75px;
  }
  .ball {
    width: 30px;
    height: 80px;
  }
}

/* Styles for screens between 769px and 1024px wide */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .eye {
    width: 180px;
    height: 120px;
    margin: 60px 60px;
  }
  .ball {
    width: 25px;
    height: 70px;
  }
}

/* Styles for screens smaller than 768px wide */
@media only screen and (max-width: 768px) {
  .eye {
    width: 150px;
    height: 100px;
    margin: 50px 50px;
  }
  .ball {
    width: 20px;
    height: 60px;
  }
}

/* Styles for screens smaller than 600px wide */
@media only screen and (max-width: 600px) {
  .eye {
    width: 120px;
    height: 80px;
    margin: 40px 40px;
  }
  .ball {
    width: 15px;
    height: 50px;
  }
}
  